<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669747335913-f1gpa8vjigh700na6te7kh2p58mpegqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669747335913-f1gpa8vjigh700na6te7kh2p58mpegqq</string>
	<key>API_KEY</key>
	<string>AIzaSyCYfVKKiqo7QoqOxfkZ8Azo2WvM4pAoo6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>669747335913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bolaoDoFrangoApp</string>
	<key>PROJECT_ID</key>
	<string>bolao-do-frango</string>
	<key>STORAGE_BUCKET</key>
	<string>bolao-do-frango.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669747335913:ios:d2b1c87a37a01f1bdd1678</string>
</dict>
</plist>